{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-portfolio-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "heroSize" .Params.headerPosition "heroPositionPercent" .Params.heroPositionPercent "section" .Section "content" .)}}

{{ if .Params.vendorlist }}
<div class="strip hero-section" style="background-color: #dbdbdb">
    <div class="container vendor-list pt-2 pb-2 pl-2 pr-2 pl-sm-1 pr-sm-1 mb-2">
        {{ range $index, $element := .Params.vendorlist }}
            {{ partial "vendor-list" $element }}
        {{ end }}
    </div>
  </div>
{{ end }}


<div class="portfolio portfolio-single pb-4 pb-md-10">
    <div class="container content-words">
        <p>{{ .Content }}</p>
    </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}