{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-portfolio-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "section" .Section "content" .)}}
<div class="portfolio portfolio-single pb-4 pb-md-10">
    {{ .Content | replaceRE "<p>" "<div class=\"pl-2 pr-2 pl-sm-0 pr-sm-0\"><div class=\"container\"><p>" | replaceRE "</p>" "</p></div></div>" | safeHTML }}
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ end }}