<a href="{{ .Permalink }}">
  {{ if .Params.thumbnail }}
  <div class="lozad portfolio-image mb-2" data-background-image="{{ .Params.thumbnail }}"
    style="{{with .Params.thumbnailPercent}}background-position: {{.}};{{end}}">
    {{ if .Params.heroHeading }}
    <div class="d-flex portfolio-image-overlay flex-column justify-content-center align-items-center">
      <div class="hero-title mt-2 ml-1 mr-1 ml-lg-0 mr-lg-0 text-center">{{.Params.heroHeading}}</div>
      <div class="hero-subtitle mt-1 ml-1 mr-1 ml-lg-0 mr-lg-0 text-center">{{.Params.heroSubHeading}}</div>
      <div class="hero-info">view more</div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</a>