<div class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-3 text-center text-md-left mb-1 mb-md-0">
        Made with <i class="fal fa-heart"></i> in Chicago
      </div>
      <div class="social-media col-12 col-md-6 text-center mb-1 mb-md-0">
        <a href="https://www.instagram.com/ivanasteven/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/ivanaandsteven/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-right">
          &copy; Ivana & Steven
        </div>
    </div>
  </div>
</div>