<div class='header'>
    <div class="container ml-2 mr-2 ml-lg-auto mr-lg-auto">
      <div class="logo">
        <a href="{{ .Site.BaseURL }}"><img alt="Ivana & Steven Photography" src="{{ .Site.BaseURL }}images/logo.png" /></a>
      </div>
      <div class="logo-mobile">
        <a href="{{ .Site.BaseURL }}"><img alt="Ivana & Steven Photography" src="{{ .Site.BaseURL }}images/logo.png" /></a>
      </div>
      {{ partial "main-menu.html" . }}
      {{ partial "hamburger.html" . }}
    </div>
  </div>