<div class="container pt-10">
    <div class="row homepage-feature-section flex-column">
        <a href="{{ .Site.BaseURL }}weddings" class="feature-image-link">
            <div class="feature-image-item mb-2"
                style="background-image: url({{ .Site.BaseURL }}/images/vajda/vajda24.jpg); background-position: 50% 100%;">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Weddings</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>
        <a href="{{ .Site.BaseURL }}families" class="feature-image-link">
            <div class="feature-image-item mb-2"
                style="background-image: url({{ .Site.BaseURL }}/homepage/JueFamily.jpg)">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Families</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>
        <a href="{{ .Site.BaseURL }}events" class="feature-image-link">
            <div class="feature-image-item" style="background-image: url({{ .Site.BaseURL }}/homepage/EventPhoto.jpg)">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Events</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>
    </div>
</div>