<div class="container pt-10">
    <div class="row homepage-feature-section">
        <div class="d-flex justify-content-center flex-wrap">
            <a href="{{ .Site.BaseURL }}travel" class="col-sm-4">
                <img class="image-border" src="{{ .Site.BaseURL }}homepage/ocean.webp" width="100%" />
                <h1 class="text-lowercase">Travel</h1>
            </a>
            <a href="{{ .Site.BaseURL }}weddings" class="col-sm-4">
                <img class="image-border" src="{{ .Site.BaseURL }}homepage/JimmyChooShoes.webp" width="100%" />
                <h1 class="text-lowercase">Weddings</h1>
            </a>
            <a href="{{ .Site.BaseURL }}families" class="col-sm-4">
                <img class="image-border" src="{{ .Site.BaseURL }}homepage/family.webp" width="100%" />
                <h1 class="text-lowercase">Families</h1>
            </a>
        </div>
    </div>
</div>