<div class="container pt-10">
    <div class="row homepage-feature-section">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="col-sm-4"><img class="image-border" src="{{ .Site.BaseURL }}homepage/ocean.webp" width="100%" /><p class="text-lowercase">Travel</p></div>
            <div class="col-sm-4"><img class="image-border" src="{{ .Site.BaseURL }}homepage/JimmyChooShoes.webp" width="100%" /><p class="text-lowercase">Weddings</p></div>
            <div class="col-sm-4"><img class="image-border" src="{{ .Site.BaseURL }}homepage/family.webp" width="100%" /><p class="text-lowercase">Families</p></div>
        </div>
    </div>
</div>