<div class="container pt-10">
    <div class="row homepage-feature-section flex-column">
        <a href="{{ .Site.BaseURL }}photos" class="feature-image-link">
            <div class="feature-image-item mb-2"
                style="background-image: url({{ .Site.BaseURL }}/homepage/Till+Wedding-058.jpg)">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Photography</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>
        <a href="{{ .Site.BaseURL }}films" class="feature-image-link">
            <div class="feature-image-item mb-2" style="background-image: url({{ .Site.BaseURL }}/homepage/film.png)">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Film</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>

    </div>
</div>