<div class="container pt-10">
    <div class="row homepage-feature-section flex-column">
        <a href="{{ .Site.BaseURL }}photos/" class="feature-image-link">
            <div class="lozad feature-image-item mb-2" data-background-image="/homepage/TillWedding-058.jpg"
                style="">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Photography</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>
        <a href="{{ .Site.BaseURL }}films/" class="feature-image-link">
            <div class="lozad feature-image-item mb-2" data-background-image="/homepage/film.png" style="">
                <div class="d-flex feature-image-overlay flex-column justify-content-center align-items-center">
                    <div class="hero-title mt-2">Film</div>
                    <div class="hero-info">view more</div>
                </div>
            </div>
        </a>

    </div>
</div>