{{ define "title" }}Ivana & Steven Photography{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ $sliders := where (where .Site.RegularPages "Type" "slider") ".Params.featured" true }}
{{if gt (len $sliders) 0}}
<div class="carousel">
{{ range first 6 (sort $sliders ".Params.weight") }}
  {{ .Render "summary" }}
{{ end }}
</div>
{{end}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-color: {{ .Params.background}};">
  <div class="container pt-10 pb-10 about-us-homepage">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-sm-4 col-md-6">
        <h1 class="main-page-header text-capitalize">{{ .Title }}</h1>
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
      <div class="col-6 col-md-4">
        <div class="image-border-offset">
          <img width="100%" src="{{ .Site.BaseURL}}{{ .Params.featuredImage }}" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ $reviews := where (where .Site.RegularPages "Type" "reviews") ".Params.featured" true }}
{{if gt (len $reviews) 0}}
<div class="container pt-8 pb-md-5 pt-md-6">
  <div class="row justify-content-start">
    <div class="col-12">
      <h1 class="main-page-header text-capitalize text-center mb-3">kind words</h2>
    </div>
    <div class="reviews-carousel d-flex align-items-center col-12">
      {{ range first 6 (sort $reviews ".Params.weight") }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </div>
</div>
{{end}}

<div class="container pb-md-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <a class="button" href="{{ .Site.BaseURL}}contact">Get In Touch</a>
    </div>
  </div>
</div>


{{ end }}

{{ define "footer_js" }}
{{ end }}