{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip hero-image hero-image-setheight"
  style="background-image: url(' {{ .Params.background | relURL }}'); {{if .Params.height}}height: {{.Params.height}}{{end}}">
  <div class="container justify-content-center align-items-center">
    <div class="hero-title">{{ .Title }}</div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-10 text-center">
      {{ .Content }}
      <div class="typeform-widget" data-url="https://stevenchen1.typeform.com/to/LLXetD" data-transparency="50"
        data-hide-headers=true data-hide-footer=true style="width: 100%; height: 350px;"></div>
      <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
    </div>
  </div>
</div>
</div>
{{ end }}