
{{ $bundle := .Get 0 }}
{{ $match := .Get 1 }}
{{ $page := .Page.Site.GetPage $bundle }}
{{ with $page }}
  {{ $resource := $page.Resources.GetMatch (printf "**%s*" $match ) }}
  {{ with $resource }}
    <div class="strip bg-position-top bg-overlay" style="background-image: url(' {{ .Params.background | relURL }}'); {{if .Params.height}}height: {{.Params.height}}{{end}}">
      <div class="container about-us-cover">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 text-center">
            {{ .Content }}
            {{ if .Params.button }}
                <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
