{{ $bundle := .Get 0 }}
{{ $match := .Get 1 }}
{{ $page := .Page.Site.GetPage $bundle }}
{{ with $page }}
{{ $resource := $page.Resources.GetMatch (printf "**%s*" $match ) }}
{{ with $resource }}
<div class="strip bg-cover bg-position-center bg-overlay pt-5 pb-md-10 pl-2 pr-2"
  style="background-image: url(' {{ .Params.background | relURL }} ');">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-6 col-md-4 mb-5 mb-md-0">
        <div class="image-border-offset">
          <img width="100%" src="{{ .Site.BaseURL}}{{ .Params.featuredImage }}" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        {{ .Content }}
        {{ if .Params.button }}
        <a class="button button-primary" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button}}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}